*{
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
}

video{
    width: fit-content;
    height: 99.4vh;
    overflow: hidden;
    /* background-image: url(https://player.vimeo.com/video/423214395);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    /* background-color: red; */
}
.filter{
    width: 100vw;
    height: 99.4vh;
    background-color: rgba(0, 153, 255, 0.489);
    position: absolute;
    top: 0;
    gap: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    input{
        padding: 10px;
        width: 200px;
        background-color: none;
        border: none;
        outline: none;
        background: none;
        color: white;
        font-size: 20px;
        font-weight: 100;
        border-bottom: 2px solid rgb(255, 255, 255);
    }
    button{
        width: 100px;
        height: 40px;
        background-color: rgb(213, 64, 0);
        border: none;
        outline: none;
        border-radius: 5px;
        color: white;
    }
}
main #result{
    width: 500px;
    height: 100px;
    color: rgb(213, 64, 0);
    /* background-color: red; */
    position: absolute;
    top: 500px;
    left: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}